@import "tailwindcss";
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
body {
  font-family: "Mulish", sans-serif;
  /* width: 100%;
  height: 100%; */
  -webkit-font-smoothing: antialiased;
}

body tr:last-child td:first-child {
  @apply rounded-b-xl;
}

body tr:last-child td:last-child {
  @apply rounded-b-xl;
}

body tr:last-child {
  @apply border-0;
}
